body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background:url(../images/background.png);
  overflow: hidden;
}

.solar-system {
  position: relative;
  width: 800px;
  height: 800px;
  transform: skew(194deg);
}

.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: -50px;
  background-color: yellow;
  border-radius: 50%;
  box-shadow: 0 0 50px rgba(255, 255, 0, 0.5);
}

.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  border: 1px dashed rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  animation: orbit 10s linear infinite;
}

.planet {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
}

.mercury-orbit {
  width: 120px;
  height: 120px;
  margin: -60px;
  animation-duration: 4s;
}

.mercury {
  width: 8px;
  height: 8px;
  margin: -47px;
  background-color: gray;
}

.venus-orbit {
  width: 180px;
  height: 180px;
  margin: -90px;
  animation-duration: 7s;
}

.venus {
  width: 15px;
  height: 15px;
  margin: -73px;
  background-color: #ccc;
}

.earth-orbit {
  width: 240px;
  height: 240px;
  margin: -120px;
  animation-duration: 10s;
}

.earth {
  width: 20px;
  height: 20px;
  margin: -96px;
  background-color: blue;
}

.mars-orbit {
  width: 300px;
  height: 300px;
  margin: -150px;
  animation-duration: 15s;
}

.mars {
  width: 12px;
  height: 12px;
  margin: -112px;
  background-color: red;
}

.jupiter-orbit {
  width: 360px;
  height: 360px;
  margin: -180px;
  animation-duration: 20s;
}

.jupiter {
  width: 30px;
  height: 30px;
  margin: -145px;
  background-color: brown;
}

.saturn-orbit {
  width: 420px;
  height: 420px;
  margin: -210px;
  animation-duration: 25s;
}

.saturn {
  width: 25px;
  height: 25px;
  margin: -160px;
  background-color: goldenrod;
}

.uranus-orbit {
  width: 480px;
  height: 480px;
  margin: -240px;
  animation-duration: 30s;
}

.uranus {
  width: 22px;
  height: 22px;
  margin: -183px;
  background-color: lightblue;
}

.neptune-orbit {
  width: 540px;
  height: 540px;
  margin: -270px;
  animation-duration: 35s;
}

.neptune {
  width: 20px;
  height: 20px;
  margin: -202px;
  background-color: darkblue;
}

.pluto-orbit {
  width: 600px;
  height: 600px;
  margin: -300px;
  animation-duration: 40s;
}

.pluto {
  width: 10px;
  height: 10px;
  margin: -218px;
  background-color: white;
}

@keyframes orbit {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
